VSSonarExtensionUi/SampleData/DatagridSampleData/DatagridSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.DatagridSampleData" targetNamespace="Expression.Blend.SampleData.DatagridSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DatagridSampleData" type="tns:DatagridSampleData" />
  <xs:complexType name="DatagridSampleData">
    <xs:sequence>
      <xs:element name="IssuesInView" type="tns:IssuesInView" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IssuesInView">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="IssuesInViewItem" type="tns:IssuesInViewItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IssuesInViewItem">
    <xs:attribute name="Message" type="xs:string" />
    <xs:attribute blend:FormatParameters="4" name="Line" type="xs:double" />
  </xs:complexType>
</xs:schema>