VSSonarExtension/MainView/SampleData/SampleDataForButtons/SampleDataForButtons.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataForButtons" targetNamespace="Expression.Blend.SampleData.SampleDataForButtons" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataForButtons" type="tns:SampleDataForButtons" />
  <xs:complexType name="SampleDataForButtons">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="IsLicenseEnable" type="xs:boolean" />
  </xs:complexType>
</xs:schema>